h1 {
    color: #78ab46;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

purchases {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#purchases td, #purchases th {
    border: 1px solid #ddd;
    padding: 8px;
}

#purchases tr:nth-child(even){background-color: #f2f2f2;}

#purchases tr:hover {background-color: #ddd;}

#purchases th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}