<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   
     	   <form action="/book/search" method="post">
    <div id="container"></div>
    Select Category:
    <div th:if="${categories != null}">
  


    <select name="category" >
  
    <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
 	 </select>

  		 <input type="submit" value="Submit">
  		 </div>

    </form>
    

<div th:if="${links != null}">
  
    <ul>
       <li th:each="item : ${links}" th:utext="${item}"></li>
    </ul>
</div>
<div th:unless="${links != null}">
   <div >No Books existed with the selected criteria.</div>
</div>
</body>
</html>