<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cart</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Shopping Cart</h2>



	<div th:if="${links != null}">

		<ul>
			<li th:each="item : ${links}" th:utext="${item}"></li>
		</ul>
	</div>
	<div th:unless="${links != null}">
		<div>Cart empty</div>
	</div>
	

	
	 	   <form action="/cart" method="post">
	<input type="hidden" name="ids" th:value="${ids}" />
  		 <input type="submit" value="Purchase">
    </form>
    
    	<div th:if="${strings != null}">

		<ul>
			<li th:each="item : ${strings}" th:utext="${item}"></li>
		</ul>
	</div>

	
	
</body>
<script th:inline="javascript">




</script>
</html>
